[Unit]
Description=Emacs text editor (%i)
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/
PartOf=emacs.target

# This is required to make sure emacs starts after the DE is started.
# Otherwise the server has no XAUTHORITY and clients fail to start (on wayland).
After=plasma-plasmashell.service

[Service]
Type=notify
ExecStart=/usr/bin/emacs --fg-daemon=%i
Nice=-10

# Emacs will exit with status 15 after having received SIGTERM, which
# is the default "KillSignal" value systemd uses to stop services.
SuccessExitStatus=15

# The location of the SSH auth socket varies by distribution, and some
# set it from PAM, so don't override by default.
# Environment=SSH_AUTH_SOCK=%t/keyring/ssh
Restart=on-failure

[Install]
WantedBy=graphical-session.target
