#
# Patterns of interesting paths in XDG_DATA_HOME.
#

# Ignore everything by default and add specific files to track.
/*
!/.git*

# Interesting KDE paths.
!/knewstuff3/
!/konsole/
/konsole/bookmarks*
!/ksysguard/
/ksysguard/QtWebEngine
!/kxmlgui5/
!/plasma/

# Keymap configurations for zsh.
!/zsh/
/zsh/zmark/
/zsh/*history

# Gnucash reports configuration.
!/gnucash/saved-reports-2.8
!/gnucash/stylesheets-2.0
