#
# Patterns of interesting paths in XDG_DATA_HOME.
#

# Ignore everything by default and add specific files to track.
/*
!/.git*

# YADM encrypted archive
!/yadm/
/yadm/**
!/yadm/archive

# Interesting KDE paths.
!/knewstuff3/
!/konsole/
/konsole/bookmarks*
!/kservices5/
!/ksysguard/
/ksysguard/QtWebEngine
!/kxmlgui5/
!/kwin/
!/plasma/

# Keymap configurations for zsh.
!/zsh/
/zsh/**
!/zsh/zkbd/

# Gnucash reports configuration.
!/gnucash/
/gnucash/**
!/gnucash/saved-reports-2.8
!/gnucash/stylesheets-2.0

# Lutris games database.
!/lutris/
/lutris/**
!/lutris/pga.db

# Unison profiles.
!/unison/
/unison/ar*
/unison/fp*
/unison/unison.log

# VLC extensions.
!/vlc/
/vlc/**
!/vlc/lua/
!/vlc/lua/**
/vlc/lua/extensions/
