#
# Attributes for interesting files in XDG_CONFIG_HOME.
#

# Filters for KDE configuration files.
*rc                    filter=kde-interface-state
kdeglobals             filter=kde-interface-state
kalarmresources        filter=kde-interface-state
kactivitymanagerd*     filter=kde-activities
*desktop-appletsrc     filter=plasma-applets-state
*.layout.latte         filter=plasma-applets-state
gtkrc*                 filter=plasma-gtk-gen

# Filters for application-specific configuration files.
filelightrc                filter=filelight-interface-state
spectaclerc                filter=spectacle-interface-state
lutris.conf                filter=lutris-interface-state
vlc-qt-interface.conf      filter=vlc-interface-state
bleachbit.ini              filter=bleachbit-interface-state
youtube-dlg/settings.json  filter=youtube-dlg-interface-state
strawberry/strawberry.conf filter=strawberry-interface-state
projectM/qprojectM.conf    filter=projectM-interface-state
gpxsee.conf                filter=gpxsee-interface-state
