#
# Patterns of uninteresting paths in XDG_CONFIG_HOME.
# This approach is preferred over using status.showUntrackedFiles=no, so that
# potentially new interesting files can be spotted. It also avoids tracking
# uninteresting files by mistake.
#

# Uninteresting directories.
/Code Industry/
/Electron/
/Element/
/FreeCAD/
/GIMP/
/KDE/
/Mailspring/
/Master PDF Editorrc
/Microsoft/
/PlasmaUserFeedback
/QtProject.conf
/QtProject/
/Raspberry Pi/
/Signal/
/akonadi/
/android/
/cef_user_data/
/configstore/
/dconf/
/discord/
/emacs/
/fontforge/
/glow/
/go/
/java/
/kde.org/
/kde4/
/kdeconnect/
/keepassxc/
/libaccounts-glib/
/libreoffice/
/menus/
/neofetch/
/nvidia/
/optimus-manager/
/pipewire-media-session/
/procps/
/pulse/
/rclone/
/retroarch/
/rpcs3/
/session/
/signond/
/sinew.in/
/skypeforlinux/
/sqlitebrowser/
/subversion/
/sunshine/
/supertuxkart/
/syncthing/
/systemd/user/*.wants/
/teams/
/tutanota-desktop/
/tmux/plugin/
/unity3d/
/zi/

# Exceptions for directories with uninteresting contents.
/FreeFileSync/**
!/FreeFileSync/Configs/
!/FreeFileSync/Configs/**
/beets/**
!/beets/config.yaml
/elinks/**
!/elinks/elinks.conf
/enchant/**
!/enchant/enchant.ordering
!/enchant/en.*
!/enchant/en_US.*
!/enchant/fr.*
!/enchant/fr_FR.*
/MusicBrainz/**
!/MusicBrainz/Picard.ini
/Nextcloud/**
!/Nextcloud/nextcloud.cfg
/nnn/**
!/nnn/plugins/
!/nnn/plugins/**
/youtube-dlg/**
!/youtube-dlg/settings.json

# Exceptions for directories with interesting contents.
/doom/*.el
/gtk-2.0/gtkfilechooser.ini
/jesseduffield/lazygit/state.yml
/latte/.multiple-layouts_hidden.layout.latte
/projectM/qprojectM-pulseaudio.conf

# Uninteresting files.
/akonadi*
/bluedevilglobalrc
/DB Browser for SQLiterc
/device_automounter_kcmrc
/discoverrc
/discoverabstractnotifier.notifyrc
/drkonqirc
/email*
/filetypesrc
/hub
/importwizardrc
/incidenceeditorrc
/kactivitymanagerd-statsrc
/kactivitymanagerd-switcher
/kalendar*
/kate*
/kcalcrc
/kcharselectrc
/kconf_updaterc
/kdeconnect.apprc
/kded_device_automounterrc
/KeePassXCrc
/kfontinstuirc
/kfontviewrc
/kgammarc
/kinfocenterrc
/kioclientrc
/kio_ftprc
/kmail2rc
/kmixrc
/korgacrc
/korganizerrc
/krdcrc
/krenamerc
/ksslcertificatemanager
/kstarsrc
/ksysguardrc
/ktorrent*
/ktrashrc
/kwalletmanager5rc
/kwalletrc
/kwaverc
/kwinoutputconfig.json
/partitionmanagerrc
/phishingurlrc
/plasma-nm
/plasma-welcomerc
/plasma.emojierrc
/PlasmaDiscoverUpdates
/plasmashellrc
/plasmawindowed-appletsrc
/plasmawindowedrc
/plasmoidviewer*
/print-manager
/sddmthemeinstallerrc
/showfoto*
/skanliterc
/soffice.binrc
/specialmailcollectionsrc
/strawberryrc
/systemmonitorrc
/systemsettingsrc
/TelegramDesktoprc
/trashrc
/vlcrc
/webengineurlinterceptoradblockrc
/xdg-desktop-portal-kderc
/YACReaderrc
/zoomus.conf
.projectile-cache.eld
