#
# Patterns of uninteresting paths in XDG_CONFIG_HOME.
# This approach is preferred over using status.showUntrackedFiles=no, so that
# potentially new interesting files can be spotted. It also avoids tracking
# uninteresting files by mistake.
#

# Uninteresting subdirectories.
/Code Industry/
/Electron/
/Element/
/GIMP/
/KDE/
/Mailspring/
/Master PDF Editorrc
/PlasmaUserFeedback
/QtProject.conf
/QtProject/
/Signal/
/autostart/
/cef_user_data/
/configstore/
/dconf/
/discord/
/emacs/
/kde.org/
/kde4/
/kdeconnect/
/libaccounts-glib/
/libreoffice/
/neofetch/
/nordvpn/
/nvidia/
/optimus-manager/
/pipewire-media-session/
/procps/
/pulse/
/rclone/
/retroarch/
/session/
/signond/
/sinew.in/
/skypeforlinux/
/subversion/
/supertuxkart/
/systemd/
/tutanota-desktop/
/tmux/plugins/
/unity3d/
/zinit/

# Exceptions for directories with uninteresting contents.
/beets/**
!/beets/config.yaml
/elinks/**
!/elinks/elinks.conf
/nnn/**
!/nnn/plugins/
!/nnn/plugins/**
/youtube-dlg/**
!/youtube-dlg/settings.json

# Exceptions for directories with interesting contents.
/gtk-2.0/gtkfilechooser.ini
/jesseduffield/lazygit/state.yml
/latte/.multiple-layouts_hidden.layout.latte

# Uninteresting files.
/bluedevilglobalrc
/device_automounter_kcmrc
/drkonqirc
/email*
/filetypesrc
/hub
/importwizardrc
/incidenceeditorrc
/kactivitymanagerd-statsrc
/kactivitymanagerd-switcher
/kate*
/kcalcrc
/kcharselectrc
/kconf_updaterc
/kded_device_automounterrc
/kdiff3*
/kfontinstuirc
/kfontviewrc
/kgammarc
/kinfocenterrc
/kioclientrc
/kio_ftprc
/kmail2rc
/korgacrc
/korganizerrc
/krenamerc
/kstarsrc
/ksysguardrc
/ktrashrc
/kwalletmanager5rc
/kwalletrc
/phishingurlrc
/plasma-nm
/plasma.emojierrc
/plasmashellrc
/plasmoidviewer*
/print-manager
/soffice.binrc
/specialmailcollectionsrc
/strawberryrc
/systemmonitorrc
/systemsettingsrc
/trashrc
/vlcrc
/webengineurlinterceptoradblockrc
/xdg-desktop-portal-kderc
/YACReaderrc
/zoomus.conf
