[Desktop Entry]
Charset=
Hidden=false
Keys=aur
Name=AUR packages
Query=https://aur.archlinux.org/packages/?K=\\{@}
Type=Service
X-KDE-ServiceTypes=SearchProvider
